<html ng-app="Calculation">
    <head>
		<title>Calculations Online</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
    </head>
    <body ng-controller="CalcCtrl" layout="column" ng-cloak>
		<md-toolbar class="md-accent" layout>
			<div class="md-toolbar-tools">
				<h2>
					<md-icon show-md show-lg hide-xs hide-sm aria-label="Menu" class="material-icons">widgets</md-icon>
					<md-icon hide-md hide-lg show-xs show-sm aria-label="Menu" class="material-icons" ng-click="showSideBar()">menu</md-icon>
					<span flex>Calculator</span>
				</h2>
				<md-button href="https://bitbucket.org/uday-r/calculator">
					<md-icon class="material-icons">code</md-icon>
					Source code
				</md-button>
			</div>
		</md-toolbar>
		<md-sidenav hide-lg class="md-sidenav-left" 
			md-component-id="left"
			md-disable-backdrop="true"
			md-whiteframe="4">
			<div ng-include src="'/onlineCalCulations.html'"></div>
		</md-sidenav>
		<div flex="100" layout="row" layout-xs="column"  layout-sm="column" layout-padding>
			<div flex="80" flex-sm="50" flex-xs="50" layout="row" layout-align="center">
				<form name="calculationForm" class="calculationForm padding-top-100" layout="column">
					<div flex="nogrow" layout="row" layout-align="space-around center">
						<md-input-container flex="10">
							<label>Number1</label>
							<input type="number" ng-model="calculation.number1" name="number1" required autofocus autocomplete="off">
							<div ng-messages="calculationForm.number1.$error">
								<div ng-message="required">This is required!</div>
							</div>
						</md-input-container>
						<md-input-container flex="5">
							<label>Symbol</label>
							<md-select name="operation" ng-model="calculation.operation">
								<md-option ng-value="calc" ng-repeat="calc in calcOptions">{{calc.symbol}}</md-option>
							</md-select>
							<div class="md-errors-spacer"></div>
						</md-input-container>
						<md-input-container flex="10">
							<label>Number2</label>
							<input type="number" ng-model="calculation.number2" name="number2" required autocomplete="off">
							<div ng-messages="calculationForm.number2.$error">
								<div ng-message="required">This is required!</div>
							</div>
						</md-input-container>
					</div>
					<div layout layout-align="center">
						<md-button class="md-raised md-primary" ng-disabled="true" aria-label="Eat cake">
							<h1 class="margin-0" md-ink-ripple="#FF0000">{{calculation.result}}</h1>
						</md-button>
					</div>
				</form>
				<md-whiteframe class="md-whiteframe-1dp note">
					Tested for Browsers: Google Chrome Version 50<br/>
					Mobile: Resposive for most of the devices.
				</md-whiteframe>
			</div>
			<div layout="column" flex="20" 
				hide-xs hide-sm 
				ng-include src="'/onlineCalCulations.html'"
				class="opacity-change-on-hover">
			</div>
		</div>
		<script type="text/ng-template" id="/onlineCalCulations.html">
				<md-toolbar class="md-accent">
					<h2 class="md-toolbar-tools">
						<md-icon show-md show-lg hide-xs hide-sm aria-label="Menu" class="material-icons">widgets</md-icon>
						<md-icon hide-md hide-lg show-xs show-sm aria-label="Menu" class="material-icons" ng-click="hideSideBar()">menu</md-icon>
						<span flex>Online Calculations</span>
					</h2>
				</md-toolbar>
				<md-content flex class="overflow-y-scroll">
					<md-list flex>
						<md-subheader class="md-hue-1" ng-if="calculations.length > 0">You are viewing others calculations, 
							ones' in <span class="blue-background text-badge">blue</span> are yours</md-subheader>
						<md-subheader class="md-hue-1" ng-if="calculations.length == 0">No calculations found online.</md-subheader>
						<md-list-item class="md-3-line fade" ng-class="{'blue-background': currentCalculation.mine}" 
							ng-repeat="currentCalculation in calculations | orderBy:'id':true" ng-click="null">
							<md-button class="md-raised md-fab z-index-0" disabled>
								<h1 class="margin-0">{{currentCalculation.operation.symbol}}</h1>
							</md-button>
							<div class="md-list-item-text" layout="column">
								<h3>
									{{currentCalculation.number1}} 
									{{currentCalculation.operation.symbol}} 
									{{currentCalculation.number2}}
									=
									<b>{{currentCalculation.result | limitTo:6}}</b>
								</h3>
							</div>
						</md-list-item>
					</md-list>
				</md-content>
		</script>
		
		
		
		
		
		
		<!-- Libraries -->
        <script src="js/lib/socket/socket.io-1.4.5.js"></script>

        <script src="js/lib/angular/angular.js"></script>
        <script src="js/lib/angular/angular-animate.js"></script>
        <script src="js/lib/angular/angular-aria.js"></script>
        <script src="js/lib/angular/angular-messages.js"></script>
        <script src="js/lib/angular/angular-route.js"></script>
        <script src="js/lib/angular/angular-sanitize.js"></script>

        <script src="js/lib/angular-material/angular-material.js"></script>

        <!-- Developer's javascript -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/CalcCtrl.js"></script>
		
        <!-- Services -->
        <script src="js/services/SocketService.js"></script>

    </body>
</html>
